.section-header {
    margin-top: 3rem;      
    margin-bottom: 1rem;   
}

.product-card {
    text-decoration: none;
    border: none;
    border-radius: 10px;           
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.product-card img {
    max-height: 180px;
    object-fit: contain;
    transition-property: opacity 0.5s ease;
}

.product-card img:hover {
    opacity: 0.8;
}

.carousel-control-next {
    width: 0%;
    right: 4%;
}
.carousel-control-prev {
    width: 0%;
    left: 4%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #6c757d;
    padding: 20px;
    border-radius: 50%;
}

.difficulty-rating-container {
    text-align: center;
    width: 100%;
}

.difficulty-level {
    font-size: 1.0em;       
    font-weight: bold;
    color: #333;
}

.review-count {
    font-size: 0.9em;       
    color: #6c757d;         
    align-self: flex-end;   
}

.icon-active {
    color: #ffa94d;
    font-size: 1.2rem;
}

.icon-inactive {
    color: #e9ecef;
    font-size: 1.2rem;
}

.icon-partial-wrapper {
    position: relative;
    display: inline-block;
}

.icon-partial-wrapper .partial-fill {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
}

.book-title {
    font-size: 1.0em;       
    color: #333;         
}

.book-title span:hover {
    color: #ffa94d;
}

.carousel-inner .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
