<div class="container">
    <div class="hero">
        <div class="center-content">
            <!-- Main Heading -->
            <h1 class="main-heading mb-6">TechBook Finder</h1>

            <!-- Subheading -->
            <p class="subheading mb-3">自分のレベルに合った技術書を探そう</p>

            <!-- Description -->
            <p class="description">
                技術書には幅広い難易度があります <br>
                ユーザーによる難易度レビューをもとに、自分にぴったりの技術書を見つけることができます
            </p>
        </div>
    </div>
</div>