<div class="container-fluid p-0 hero-section mb-5">
  <div class="hero-content text-center d-flex flex-column justify-content-center align-items-center">
    <!-- Hero Section -->
    <h1 class="main-heading mb-6">TechBook Finder</h1>

    <!-- Subheading -->
    <p class="subheading mb-3">自分のレベルに合った技術書を探そう</p>

    <!-- Description -->
    <p class="description">
        技術書には幅広い難易度があります <br>
        ユーザーによる難易度レビューをもとに、自分にぴったりの技術書を見つけることができます
    </p>
  </div>
</div>

<div class="container mt-5">
  <!-- 使い方 -->
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <div class="card shadow mb-4">
        <div class="card-body">
          <h2 class="fs-4 mb-3">コンセプト</h2>
          <p class="card-text">
            「自分に合った難易度のプログラミング本との出会い」をサポートするために開発したアプリです。
          </p>
        </div>
      </div>

      <div class="card shadow mb-4">
        <div class="card-body">
          <h2 class="fs-4 mb-4">使い方</h2>
          <div class="mb-3">
            <h3 class="h5">本を探す</h3>
            <ul class="list-unstyled ms-3">
              <li class="mb-2"><strong>キーワード検索</strong>: タイトルや著者名などのキーワードで簡単に本を探せます。</li>
              <li class="mb-2"><strong>絞り込み検索</strong>: 難易度やカテゴリーでさらに条件を追加し、あなたにピッタリの本を見つけやすくなります。</li>
            </ul>
          </div>
          <div class="mb-3">
            <h3 class="h5">レビューを見る</h3>
            <ul class="list-unstyled ms-3">
              <li class="mb-2"><strong>概要確認</strong>: 著者情報、出版日、難易度評価などで本の基本情報がすぐに分かります。</li>
              <li class="mb-2"><strong>ユーザーレビュー</strong>: 他の読者が投稿した難易度評価や感想を参考にすることで、本選びがスムーズに！</li>
            </ul>
          </div>
          <div class="mb-3">
            <h3 class="h5">レビューを投稿する（ユーザー登録が必要）</h3>
            <ul class="list-unstyled ms-3">
              <li class="mb-2"><strong>投稿</strong>: 読み終えた本の難易度や感想を簡単に投稿できます。</li>
              <li class="mb-2"><strong>読書記録</strong>: 投稿したレビューはあなた自身の読書記録としても残ります。</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 開発者のメッセージ -->
      <div class="card shadow">
        <div class="card-body">
          <h2 class="fs-4 mb-3">開発者のメッセージ</h2>
          <p class="card-text">
            このアプリはユーザー同士が知識を分かち合うことで成り立っています。<br>  
            ぜひユーザー登録して、積極的にレビューを投稿していただけると嬉しいです。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
