<footer class="bg-light py-3 mt-auto">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <a href="/privacy_policy" class="text-decoration-none text-muted me-3">プライバシーポリシー</a>
        <a href="/terms" class="text-decoration-none text-muted me-3">利用規約</a>
        <a href="/contact" class="text-decoration-none text-muted">お問い合わせフォーム</a>
      </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <small class="text-muted">Copyright © 2025 TechBook Finder - All right reserved</small>
        </div>
    </div>
  </div>
</footer>
