<footer class="bg-light py-3 mt-5">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <a href="/privacy_policy" class="text-decoration-none text-muted me-3">プライバシーポリシー</a>
        <a href="/terms" class="text-decoration-none text-muted me-3">利用規約</a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSd0-RgE2Shsk3frkvhzsw-yU-hGXKU-iTM--gh8dbaAw8e1JQ/viewform?usp=dialog" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-muted">お問い合わせフォーム</a>
      </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <small class="text-muted">Copyright © 2025 TechBook Finder - All right reserved</small>
        </div>
    </div>
  </div>
</footer>
