.btn-outline-orange:hover {
    background-color: #ffa94d;  /* お好みのオレンジ色の16進数カラーコード */
    border-color: #ffa94d;
    color: #fff;
}

.row {
    text-decoration: none;
}

a.row {
    color: inherit;
    text-decoration: none;
}

.search-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.search-card:hover {
    transform: translateY(-5px);  /* カードが少し上に浮き上がる */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);  /* 影を強調する */
}

.search-card-title {
    color: #6c757d;
    font-size: 1.5rem;
}

.search-card-title span:hover {
    color: #ffa94d;
}

.difficulty-level {
    font-size: 1.2rem;
}

.book-img {
    max-width: 150px;
    height: auto;
    transition-property: opacity 0.5s ease;
    display: block;
    margin: 0 auto;
}

.book-img:hover {
    opacity: 0.8;
}

.pagination .page-link {
    border-color: #e9ecef;
    color: #ffa94d;
}

.pagination .page-item.active .page-link {
    background-color: #ffa94d;  /* 少し濃いオレンジ */
    border-color: #ffa94d;
    color: #fff;
}